{% if packageDescription %}
<p align="center">
    <strong>{{ packageDescription }}</strong>
</p>
{% endif %}

<!--
TODO: Make sure the following URLs are correct and working for your project.
      Then, remove these comments to display the badges, giving users a quick
      overview of your package.

<p align="center">
    <a href="https://github.com/{{ packageName }}"><img src="http://img.shields.io/badge/source-{{ packageName|format({'-': '--'}) }}-blue.svg?style=flat-square" alt="Source Code"></a>
    <a href="https://packagist.org/packages/{{ packageName }}"><img src="https://img.shields.io/packagist/v/{{ packageName }}.svg?style=flat-square&label=release" alt="Download Package"></a>
    <a href="https://php.net"><img src="https://img.shields.io/packagist/php-v/{{ packageName }}.svg?style=flat-square&colorB=%238892BF" alt="PHP Programming Language"></a>
    <br>
    <a href="https://github.com/{{ packageName }}/actions?query=workflow%3Amain"><img src="https://img.shields.io/github/workflow/status/{{ packageName }}/main?logo=github&style=flat-square" alt="Build Status"></a>
    <a href="https://codeclimate.com/github/{{ packageName }}"><img src="https://img.shields.io/codeclimate/coverage/{{ packageName }}?logo=Code%20Climate&style=flat-square" alt="Code Coverage"></a>
    <a href="https://codeclimate.com/github/{{ packageName }}"><img src="https://img.shields.io/codeclimate/coverage-letter/{{ packageName }}?label=maintainability&logo=Code%20Climate&style=flat-square" alt="Maintainability"></a>
    <br>
    <a href="https://github.com/{{ packageName }}/blob/master/LICENSE"><img src="https://img.shields.io/packagist/l/{{ packageName }}.svg?style=flat-square&colorB=darkcyan" alt="Read License"></a>
    <a href="https://packagist.org/packages/{{ packageName }}/stats"><img src="https://img.shields.io/packagist/dt/{{ packageName }}.svg?style=flat-square&colorB=darkmagenta" alt="Package downloads on Packagist"></a>
    <a href="https://phpc.chat/channel/{{ vendorName }}"><img src="https://img.shields.io/badge/phpc.chat-%23{{ vendorName }}-darkslateblue?style=flat-square" alt="Chat with the maintainers"></a>
</p>
-->
