{% if packageDescription %}
<p align="center">
    <strong>{{ packageDescription }}</strong>
</p>
{% endif %}

<!--
TODO: Make sure the following URLs are correct and working for your project.
      Then, remove these comments to display the badges, giving users a quick
      overview of your package.

<p align="center">
    <a href="https://github.com/{{ githubUsername }}/{{ projectName }}"><img src="https://img.shields.io/badge/source-{{ packageName|replace({'-': '--'}) }}-blue.svg?style=flat-square" alt="Source Code"></a>
    <a href="https://packagist.org/packages/{{ packageName }}"><img src="https://img.shields.io/packagist/v/{{ packageName }}.svg?style=flat-square&label=release" alt="Download Package"></a>
    <a href="https://php.net"><img src="https://img.shields.io/packagist/php-v/{{ packageName }}.svg?style=flat-square&colorB=%238892BF" alt="PHP Programming Language"></a>
    <a href="https://github.com/{{ githubUsername }}/{{ projectName }}/blob/main/LICENSE"><img src="https://img.shields.io/packagist/l/{{ packageName }}.svg?style=flat-square&colorB=darkcyan" alt="Read License"></a>
    <a href="https://github.com/{{ githubUsername }}/{{ projectName }}/actions/workflows/continuous-integration.yml"><img src="https://img.shields.io/github/workflow/status/{{ githubUsername }}/{{ projectName }}/build/main?style=flat-square&logo=github" alt="Build Status"></a>
    <a href="https://codecov.io/gh/{{ githubUsername }}/{{ projectName }}"><img src="https://img.shields.io/codecov/c/gh/{{ githubUsername }}/{{ projectName }}?label=codecov&logo=codecov&style=flat-square" alt="Codecov Code Coverage"></a>
    <a href="https://shepherd.dev/github/{{ githubUsername }}/{{ projectName }}"><img src="https://img.shields.io/endpoint?style=flat-square&url=https%3A%2F%2Fshepherd.dev%2Fgithub%2F{{ githubUsername|url_encode }}%2F{{ projectName|url_encode }}%2Fcoverage" alt="Psalm Type Coverage"></a>
</p>
-->
